/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ul,
menu,
dir {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


/* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
}

div {
    border: 1px solid Chocolate;
}

.content {
    margin: 0 auto;
    width: 970px;
}

ol,
ul {
    list-style: none;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%
}

.top-navigation .content {
    height: 4.375rem;
    padding: 0 0.938rem;
    min-width: 37.5rem;
}

.top-navigation .links {
    float: right;
    margin-top: 1.5rem;
    color: #838994;
    font-size: 1.0rem;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    color: #333333;
    cursor: pointer;
}

.logo {
    margin-top: 1rem;
}


/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

button {
    width: 9.688rem;
    background-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.introduction .buttons {
    text-align: center;
    margin-top: 1.563rem;
    color: white;
}

.cases {
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices > li {
    width: 33%;
    float: left;
}


/* Footer styles
    (all the styles inside the < footer > tag)
*/


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
